body{
    background-color: rgb(50, 50, 50);
}
.hover-dark:hover{
    background-color: #30363b;
    color: white;
}
.input-dark, .input-dark:focus, .input-dark:read-only{
    background-color: #585858;
    color: white;
    border-color: #585858;
}
.require{
    border-color: red !important;
}
.insetShadow{
    box-shadow: inset 5em 1em rgba(0, 0, 0, 0.5);
}
.hidden, .hide{
    display: none;
}
.curser-pointer{
    cursor: pointer;
}
.btn-edit{
    width: 30px;
    height: 30px;
}
.curser-not-allowed{
    cursor: not-allowed;
}
*{
    color: white;
    padding: 0;
    margin: 0;
}
.line{
    border-bottom: 1px solid white;
}
.header-flex {
    display: flex;
    position: relative;
    justify-content: center;
}
.settingsBtn {
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 10px;

    justify-content: center;
    align-items: center;

    transform: translateY(-45%);
}
.status {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 4rem;
}
.state {
    position: absolute;
    top: 55%;
}
.log {
    display: flex;
    position: relative;
}