.message {
    display: inline-block;
    width: 20rem;
    
    background-color: rgb(60, 60, 60);
    margin-bottom: 1rem;
    border-radius: 18px;
    border-top-left-radius: 2px;
    position: relative;
}
.message-header {
    border-bottom: 1px solid white;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}
.message-body {
    padding: 10px 10px;
}
.message-delete {
    position: absolute;
    display: flex;

    background-color: red;
    top: 50%;
    right: 10px;
    border: none;
    border-radius: 2rem;
    width: 25px;
    height: 25px;

    padding-bottom: 2px;
    
    justify-content: center;
    align-items: center;
    
    transform: translateY(-45%);
    
}
.message-delete:hover {
    background-color: rgb(170, 2, 2);
    transition: background-color .3s ease-in-out;
}
.messages {
    display: flex;
    width: 20rem;
    flex-wrap: wrap;
}
@media only screen and (max-width: 300px){
    .message{
        width: 15rem;
    }
}